*{
    padding: 0;
    margin: 0;
}
/*mobile*/
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

}
nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
.logo{
    width: 60px;
    height: 60px;
    
}
.header_div_logo{
    text-align: center;
}
nav{
    justify-self: center;
}
.header_div_menu{
    display: flex;
    justify-content: center;
}
li{
    list-style-type:none;

}
h1{
    text-align: center;
    font-size: 20px;
}
p{
    text-align: center;
    font-size: 10px;
}
.main_section_article_divImage{
    display: flex;
    justify-content: center;
}
.main_section_article_div_img{
    width: 120px;
    height: 120px;
}
h2{
    font-size: 15px;
    text-align: center;
}

.main_section_article_img{
    width: 100px;
    height: 100px;
}
footer{
    background-color: darkgray;
    padding-bottom: 0;
}
h3{
    text-align: center;
    display: none;
}
.footer__ul{
    display: flex;
    justify-content: center;
}

footer img{
    width: 20px;
    height: 20px;
    padding: 5px;
}
.footer_div{
    text-align: center;
    font-size: 13px;
}
/* From uiverse.io */
button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 100px;
    height: 23px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
button:hover {
    color: #fff;
   }

   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }

/*desktop*/

@media screen and (min-width: 768px){
header{
    background-color: #fff;
}
body{
    background-color: #fefbe9;
}
nav{
    background-color: white;
    justify-content: space-around;
}
.header_div_logo{
    text-align: center;
}
.logo{ 
    width: 100px;
    height: 100px;
}
.header_div_menu{ 
    text-align: center;
}
.header_ul_li_menu{
    
    display: inline-block;
    padding: 10px 10px 10px;
}
.header_nav_menu{
    color: #000;
    display: inline-block;
    font-size: larger;
}
h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #000;
    padding-bottom: 20px;
}
.main_section_article_div{
    display: flex;
    justify-content: center;
}
.main_section_article_divParrafo{
    width: 300px;
    height: 300px;
}
p{
    font-family: 'Anton', sans-serif;
    padding-top: 50px ;
    font-size: large;
}
.main_section_article_divImage{
    text-align: left;
}
.main_section_article_div_img{
    width: 310px;
    height: 250px;
    border-radius: 2px 2px 2px 2px;
}
.main_section_div{
    text-align: center;
}
.products{
    display: inline-block;
}
.main_section_article_img{
    width: 300px;
    height: 300px;
}
footer{
    background-color: gray;
    height:200px;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
footer h3{
    display: flex;
    margin-top: 15px;
    padding-left: 100px;
}
footer ul{
    flex-direction: column;
    margin-top: 15px;
    padding-left: 150px;
}
footer img{
    width: 20px;
    height: 20px;
}
.redes{
    display: flex;
    align-items: ri;
    /* justify-content: left; */
}
/* .footer_div{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 0px;
} */
h4{
    padding-right: 12px;
    font-size: 15px;
}
input {
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 120px;
}

input:focus {
    outline-color: white;
    place-content: "Enter your message!";
}
button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 125px;
    height: 40px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
   button:hover {
    color: #fff;
   }

   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }
   /*#8707ff - violeta #5ce1e6 - turquesa*/
}